body {
  font-family: 'Segoe UI', sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background: #f4f4f4;
  color: #333;
}



header {
  background: #003366;
  color: white;
  padding: 20px;
  text-align: center;
}

nav ul {
background: red;
color: black;
  list-style: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin: 0 15px;
}

nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

main {
  padding: 20px;
  max-width: 900px;
  margin: auto;
  background: white;
}

section {
  margin-bottom: 40px;
}

footer {
  background: #003366;
  color: white;
  text-align: center;
  padding: 10px 0;
}

pre {
  font-family: 'Segoe UI', sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  
  color: #333;
}
